chromadb==1.0.16
google_auth_oauthlib==1.2.2
gspread==6.2.1
langchain==0.3.27
langchain_google_community==2.0.7
llama_index==0.13.1
pandas==2.3.1
phoenix==0.9.1
protobuf==6.31.1
python-dotenv==1.1.1
slack_bolt==1.23.0
SQLAlchemy==2.0.42
